@import "~primeng/resources/primeng.min.css";
.checkIn{
    // width: 40vw;
    text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 78vh;
  flex-direction: row-reverse;
}

.checkin-checkout-container {
  width: 450px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 200px;
  }

  .label-position{
    position: relative;
  left: -100px; 
  margin-right: 10px; 
  }

  .card-container {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-details {
    display: flex;
    font-size: 18px;
    flex-direction: column;
  }
  
  .detail-item {
    margin-bottom: 5px;
  }

  .formCalender{
    ::ng-deep .p-datepicker table td {
      padding: 0.1rem !important;
    }
    
    ::ng-deep .p-datepicker table td > span {
      width: 0.7rem;
      height: 0.7rem;
    }
    
    ::ng-deep .p-datepicker table {
      font-size: 7pt;
      margin: -0.143rem 0;
    }
    
    ::ng-deep .p-datepicker .p-datepicker-header {
      padding: 0.1rem;
    }
  }

  ::ng-deep .p-datepicker table td {
    padding: 2px; 
  }
  body .p-datepicker table td {
    padding: 2px; 
  }
  :host ::ng-deep .p-inputtextarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  :host ::ng-deep .p-inputtextarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }