<div class="wrapper">
    <div class="logo">
        <img src="./../../../../assets/payrollLogo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Quixar
    </div>
    <form [formGroup]="loginForm" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username" formControlName="userName">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" formControlName="Password">
        </div>
        <p-button label="Submit" class="btn " [loading]="loading" icon="pi pi-key"
            (onClick)="submitLogInForm()"></p-button>
    </form>
</div>