<div class="container bootstrap snippets bootdey" *ngIf="userProfileData!==undefined">
    <div class="row">
      <div class="profile-nav col-md-3">
          <div class="panel">
              <div class="user-heading round">
                  <a href="#">
                      <img src="./../../../../assets/profile-img.png" alt="">
                  </a>
                  <h1>{{userProfileData.firstName+" "+userProfileData.lastName}}</h1>
                  <p class="m-0">@{{userProfileData.userName}}</p>
                  <p>{{userProfileData.email}}</p>
              </div>
          </div>
      </div>
      <div class="profile-info col-md-9">
          <div class="panel">
              <div class="panel-body bio-graph-info">
                  <h1>User Details</h1>
                  <div class="row">
                      <div class="bio-row">
                          <p><span>First Name </span>: {{userProfileData.firstName}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Last Name </span>: {{userProfileData.lastName}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Age </span>: {{userProfileData.age}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Birthday</span>: {{userProfileData.dob}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Phone </span>: {{userProfileData.phone}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Salary </span>: {{userProfileData.salary}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Account.No </span>: {{userProfileData.accNo}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>IFSC </span>: {{userProfileData.ifsc}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Next Salary</span>: {{userProfileData.nextPayDate}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Pay Freq </span>: {{userProfileData.payFreq===1? 'Weekly':userProfileData.payFreq===2? 'Biweekly':'Monthly'}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Bonus</span>: {{userProfileData.bonus}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Tax Percent</span>: {{userProfileData.taxPercent}}</p>
                      </div>
                      <div class="updateFormContainer">
                        <form [formGroup]="profileForm">
                            <div class="p-3 py-5">
                              <div class="col-md-12">
                                <label class="labels">Tax Excemption Amt</label>
                                <input type="number" min="0" class="form-control" formControlName="excemptionAmt" placeholder="Exempt income" >
                            </div> <br>
                            <div class="col-md-12">
                                <label class="labels">OverTime (in hrs)</label>
                                <input type="number" min="0" class="form-control" formControlName="overTime" placeholder="Over Time in hrs">
                              </div>
                              <div class="mt-5 text-center">
                                <button class="btn btn-secondary profile-button" (click)="updateFields()" type="submit">Save Profile</button>
                              </div>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>